---
import Base from '../layouts/Base.astro';
---

<Base title="About" description="About me">
  <div class="container">
    <div class="post-header">
      <h1>about</h1>
    </div>
    <div class="prose">
      <p>
        Hi — I'm <strong>Mark Chambers</strong>.</p>
        <p>
            A frontend Engineer living in Wellington, New&nbsp;Zealand, doing web things. I specialise in React, TypeScript, CSS, accessibility and Design Systems.
      </p>
      <p>
        Find me on <a href="https://github.com/marksy" target="_blank">GitHub</a>.
      </p>
    </div>
  </div>
</Base>
