:root {
    --main-fg-color: #ffffff;
    --main-fg-color-hover: rgba(255,255,255,0.7);
    --transition-speed: 500ms;
    --amount: -200px;
    --duration: 80s;
}

@property --main-bg-color-1 {
    syntax: '<color>';
    initial-value: #6b97f7;
    inherits: false;
}
@property --main-bg-color-2 {
    syntax: '<color>';
    initial-value: #7525e2;
    inherits: false;
}
@property --main-bg-color-3 {
    syntax: '<color>';
    initial-value: #f7137e;
    inherits: false;
}

@media (prefers-color-scheme: dark) {
        @property --main-bg-color-1 {
            syntax: '<color>';
            initial-value: #324876;
            inherits: false;
        }
        @property --main-bg-color-2 {
            syntax: '<color>';
            initial-value: #50199b;
            inherits: false;
        }
        @property --main-bg-color-3 {
            syntax: '<color>';
            initial-value: #870b45;
            inherits: false;
        }
        --main-fg-color: #95b7bd;
}

@keyframes blinker {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(var(--amount));
    }
}

body {
    background: linear-gradient(334deg, var(--main-bg-color-1), var(--main-bg-color-2), var(--main-bg-color-3));
    background-size: 180% 180%;
    animation: gradient-animation 15s ease infinite;
    width: 100vw;
    height: 100vh;
    color: var(--main-fg-color);
    transition: --main-bg-color-1 var(--transition-speed), --main-bg-color-2 var(--transition-speed), --main-bg-color-3 var(--transition-speed), background-color var(--transition-speed), color var(--transition-speed);
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 2rem;
}

p {
    font-size: 1rem;
    padding: 0.5rem 0.5rem 1rem;
    margin: 0;
}

h1, p, fieldset, form {
    font-family: monospace;
    text-shadow: 0 0 4px rgba(0,0,0,0.6);
}

a, a:hover {
    color: var(--main-fg-color);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: color 222ms, background-color 222ms;
    background-color: rgba(255,255,255,0);
    padding: 0.5rem 1rem;
    border-radius: 62.5rem;
}

a:hover {
    color: var(--main-fg-color-hover);
    background-color: rgba(255,255,255,0.5);
}

a:focus::after {
    content: ' 🦆';
}

.btn {
    border: unset;
    border-radius: unset;
}

.page-wrapper {
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

    @media (min-width: 480px) {
        padding: 2rem;
        justify-content: space-between;
        flex-direction: row;
        height: 80vh;
    }
}

.column-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;

    @media (min-width: 480px) {
        align-items: flex-start;
    }
}

.main-wrapper {
    display: flex;
    flex-direction: column;
}

.strike-through {
    text-decoration: line-through;
}

.dim {
    opacity: 0.5;
}

.links {
    max-height: 60vh;
    overflow: auto;
}

.links a {
    text-decoration: none;
}

label {
    display: flex;
}

button,
input,
fieldset {
    margin: 0;
    padding: 6px;
    font-size: 12px;
    color: #051224;
    border: 1px solid #051224;
    border-radius: 0;
}

button {
    background: #fff;
    border-radius: 0 3px 3px 0;
}

input {
    border-right: 0;
    border-radius: 3px 0 0 3px;
}

#greeting {
    display: flex;
}

#greeting h1 {
    cursor: pointer;
}

.beer {
    position: fixed;
    bottom: 0;
    background-color: rgb(36, 64, 75);
    color: #8be202;
    padding: 12px;
    min-height: 30px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    transform: translateX(0);
    transition: 4s ease-out;
}

.beer a {
    color: #8be202;
    text-decoration: underline;
}

.wrapper {
    animation: scroll var(--duration) linear infinite;
    white-space: nowrap;
    will-change: transform;
}

.beer-wrapper {
    background-color: rgb(36, 64, 75);
    position: fixed;
    bottom: 0;
    height: 52px;
    width: 100%;
}

/* .beer:hover {
    transform: translateX(-6%);
} */

.beer:hover .wrapper {
    animation-play-state: paused;
}

/* .wrapper ul {
    border: 1px solid red;
} */

.beer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 30px;
    display: inline-block;
    white-space: nowrap;
}

.beer li {
    font-family: monospace;
    list-style: none;
    padding: 0;
    margin: 0 48px 0 0;
    display: inline-block;
    width: 400px;
}

.beer li.display-none {
    display: none;
}

#date {
    font-family: monospace;
    font-size: clamp(1.5rem, 1.3vw, 18rem);
    color: #333;
    /*position: absolute;*/
    top: 1rem;
    right: 1rem;
}

#time {
    color: #333;
    font-family: monospace;
    font-size: 2.5rem;
    /*position: absolute;*/
    top: 2.5rem;
    right: 1rem;
}

#us-time {
    color: #333;
    font-family: monospace;
    font-size: 1.5rem;
    /*position: absolute;*/
    top: 5rem;
    right: 1rem;
}

.blink {
    animation: blinker 1s linear infinite;
}

@media (prefers-color-scheme: dark) {
    input,
    button {
        color: rgba(255,255,255,0.7);
        border-color: #64676b;
        background: #3e3e3f;
    }

    #date,
    #time {
        color: rgba(255,255,255,0.7);
        background-color: rgba(0,0,0,0.3);
    }
}

.add-calendar {
    padding: 1rem 0;
    font-family: monospace;
    align-self: flex-end;
}

.calendar-count {
    margin-bottom: 1rem;
}

.add-calendar input,
.add-calendar button {
    border: unset;
    border-radius: unset;
}

.delete-event {
    border: 1px solid rgba(255,0,0,0.4);
    background-color: rgba(255,0,0,0.2);
    color: black;
}

.delete-event:hover {
    border: 1px solid rgba(255,0,0,0.6);
    background-color: rgba(255,0,0,0.4);
}

.dialog-cancel {
    border: 1px solid black;
}

.add-calendar label {
    flex-direction: column;
    margin-top: 1rem;
}

.dialog-events .dialog-event {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-calendar-button-group,
.add-calendar-event-wrapper {
    @media (min-width: 480px) {
        /*position: absolute;*/
        bottom: 5rem;
        right: 2rem;
    }
}
.add-calendar-event-wrapper {
    display: none;
}

.button-group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    margin-top: 1rem;
}
.button-group button {
    margin-left: 0.5rem;
}

.form-error {
    border: 1px solid red;
}

dialog h1 {
    font-size: 1.25rem;
}

dialog form {
    font-family: sans-serif;
}

dialog form label span {
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
}

dialog input {
    border-radius: 3px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.row-item {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 0.5rem;
}

.row-item span {
    margin-left: 0.5rem;
}

.row-item .delete-event {
    margin-left: auto;
}

.add-bookmark-wrapper {
    min-width: 30vw;
}

.add-bookmark-wrapper label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
}

.new-bookmark-emoji {
    width: 40px;
}

.add-bookmark-wrapper label span {
    display: block;
}

.temperature-calculator-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    width: 100%;

    @media (min-width: 480px) {
        /*position: absolute;*/
        right: 1rem;
        bottom: 0;
    }
}

.temp-input-button {
    display: flex;
}
.unit-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: monospace;
    gap: 1rem;
    padding-bottom: 0.5rem;
}

.unit-wrapper label {
    display: flex;
    align-items: center;
}

.unit-wrapper input {
    margin-left: 4px;
}
.calculated-temperature-value-div {
    font-size: 2rem;

    @media (min-width: 480px) {
        /*position: absolute;*/
        bottom: -3rem;
        right: 0;
    }
}

.temperature-input {
    width: 102px;
}

.calculate-temperature-button {
    border-radius: 0;
    border-right: 0;
}

.speed-calculator-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 480px) {
        /*position: absolute;*/
        right: 1rem;
        bottom: -160px;
    }
}
.speed-input-button {
    display: flex;
}

.calculated-speed-value-div {
    font-size: 2rem;

    @media (min-width: 480px) {
        /*position: absolute;*/
        bottom: -3rem;
        right: 0;
    }
}

.speed-input {
    width: 102px;
}

.calculate-speed-button {
    border-radius: 0;
    border-right: 0;
}

button:disabled {
    opacity: 0.5;
}

fieldset {
    border: 1px solid var(--main-fg-color);
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: var(--main-fg-color);
}

fieldset legend {
    font-size: 0.75rem;
    text-transform: uppercase;
}

#search {
    border-radius: 25px;
    padding: 0.5rem 1rem;
    border: 2px solid var(--main-fg-color);
    transform: translateY(-60px);
    transition: transform 222ms;
    margin-top: 1rem;
    box-shadow: rgba(10,10,10,0.7) 0 0 25px;
}

.search-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 204px;
    margin: 0 auto;
    align-items: center;
}

.hint {
    position: absolute;
    top: 1rem;
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
    transition: opacity 500ms, transform 500ms, filter 500ms;
}

#search:focus {
    transform: translateY(0);
}

#search:focus + .hint {
    opacity: 0;
    transform: translateY(4rem) scale(3);
    filter: blur(10px);
}

@keyframes gradient-animation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
